
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #3b3b3b;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
 header {
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 3px solid;
    /*still need color bottom border, or would I prefer box shadow?*/
}

/* I think this could fill the space a bit better.
    Font still needs to be chosen. */
#logo {
    white-space: nowrap;
    text-transform: capitalize;
    letter-spacing: 3px;
    min-height: 1.5em;
    margin-top: .25em;
}

header a {
    text-decoration: none;
    color: inherit;
}

.active {
    border: 1px solid black;
}

#nav-menu {
    font-size: 110%;
    letter-spacing: 1.5px;
    list-style-type: none;
}

#nav-menu > li {
    margin-bottom: .5em;
}

nav {
    position: absolute;
    border-bottom: 3px solid;
    width: 100%;
    left: 0;
    padding-left: 1rem;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* main */
main {
    /* sticks footer to bottom */
    flex: 1 0 auto;
    margin-top: 65px;
    padding-left: .75rem;
}

/* footer */

#social-networks {
    border-top: 3px solid;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #nav-menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* main content */
    main {
        /* push main content down */
        margin-top: 79px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }
}

/* media query: laptop and larger (992px)*/
/* I changed the number of pixels since my screen has a smaller width.
   I am not sure what this media query should be set to.*/
@media screen and (min-width: 916px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }
}