/* CSS validated */
/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* base styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #31363F;
    color: white;
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: "Roboto Slab", serif;
}

a {
    text-decoration: none;
    color: white;
}

/* causes everything to inherit colors from its parent by default */
* * {
    background-color: inherit;
    color: inherit
}
/* end base styles */


/* header styles */
header {
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid white;
    background-color: #222831;
}

/* logo styles */
#logo-div {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    font-size: 80%;
    position: relative;
    top: -5px;
}

#logo {
    white-space: nowrap;
    text-transform: capitalize;
    min-height: 1.5em;
    margin-top: .35em;
}


/* navbar styles */

#nav-menu {
    font-size: 109%;
    letter-spacing: 1.5px;
    list-style-type: none;
}

#nav-menu>li {
    margin-bottom: .2em;
}

#nav-menu a {
    padding: 1px 5px;
}

/* it seems this is separate in order to do some flex box things */
nav {
    position: absolute;
    /*border-top: 3px solid #3a3a3a;
    border-bottom: 3px solid #3a3a3a;*/
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    width: 100%;
    left: 0;
    padding-left: 1rem;
    padding-top: .7rem;
    padding-bottom: .35em;
    display: none;
    top: 100%;
    background-color: #222831;
}

/* indicates which page a user is on */
.active {
    /*border: 1.5px solid #3a3a3a;*/
    border: 1.5px solid white;
    /*padding: 1px 5px; */
    border-radius: 5px;
    margin: -1.5px;
}

/* nav toggle icon styles*/
#nav-toggle-label {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* is there a way to address this more responsively? */
#icon-div {
    flex-basis: 20%;
    position: relative;
    top: -3em;
    left: 90%;
}

#nav-toggle-icon {
    font-size: 225%;
    margin-bottom: -2.5rem;
    align-self: center;
}

/* displays nav section when clicked*/
#nav-toggle:checked~nav {
    display: block;
}

/* hides nav section until clicked*/
#nav-toggle {
    display: none;
}
/* end header styles*/


/* main */
main {
    /* sticks footer to bottom */
    flex: 1 0 auto;
    margin-top: 5em;
    margin-bottom: 4em;
    align-items: center;
}

/* Landing page styles */
#landing-page {
    display: flex;
    flex-direction: column;
    margin-top: -3.6em;
    font-size: 99%;
}

.landing-page-text {
    display: flex;
    flex-direction: column;
    /* this syle needs to be addressed later */
    background-color: rgba(34, 40, 49, 0.6);
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    width: auto;
    height: fit-content;
}

/* div for hero images */
.hero-div {
    height: 600px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

/* utility classes */

.bold {
    font-weight: 900;
    display: contents;
}

.less-bold1 {
    font-weight: 500;
}

.less-bold2 {
    font-weight: 400;
}

.centered-text {
    text-align: center;
}

/* prevents smaller elements from also having a background */
.transparent-background {
    background: transparent;
}

/* mobile landing page styles*/

/* orients mobile landing page container*/
#mobile-lp {
    display: flex;
    position: relative;
    flex-direction: column;
}

/* hero1 styles */
#hero1 {
    background: url('../images/hero-images/tiny-hero1-img.webp') no-repeat center center/cover;
    width: 100%;
    height: 372px;
}

/* positions cover-text for hero1 image */
.hero1-text {
    top: 3em;
    align-self: center;
    position: relative;
    width: 87%;
}

/* hero2 styles */
#hero2 {
    background: url('../images/hero-images/tiny-hero2-img.webp') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
}

/* first container for content on second hero image */
#hero2-first-block {
    display: flex;
    flex-direction: row;
    gap: 15%;
    justify-content: center;
    align-items: center;
    margin: 0% 6% 0% 6%;
    position: relative;
}

.hero2-first-block-text {
    width: 100%;
}

/* second container for content on second hero image*/
#hero2-column-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 6%;
    margin-right: 6%;
    position: relative;
    height: 18em;
    bottom: -1.5em;
}


#hero3 {
    background: url('../images/hero-images/tiny-hero3-img.webp') no-repeat center center/cover;
    display: none;
}

/* content pages styling */
/* used on content pages as generic containers for positioning and common styling */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 22px;
}

/* styles game cover images */
.game-cover {
    height: 65vw;
    width: 65vw;
    margin-top: 2em;
    margin-bottom: 2em;
    /* rounds corners of image */
    border-radius: 18%;
    /* keeps images from growing too much on larger screens */
    max-width: 300px;
    max-height: 300px;
    align-self: center;
}

.box { 
    background-color: #31363F;
    border: 3px solid white;
    border-radius: 10px;
}

/* styles headers for content sections */
.content-header {
    position: relative;
    width: 85%;
    padding: 0.5rem 5px;
    margin-top: .5em;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #222831;
    text-align: center;
}

/* styles text boxes */
.content {
    margin: 2vh;
    max-width: 80vw;
    padding: .7rem .7rem 1rem .7rem;
    align-self: center;
    background-color: #222831;
}

/* styles links to external sites */
.links {
    list-style-type: none;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    padding: 0.7rem 0;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color: #222831;
}
/* end content page styles */


/* form styles */
/* helps positions form */
#signup-section {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

/* styles actual form element*/
#signup-form {
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    border-radius: 18%;
    width: 90%;
    align-self: center;
    align-items: center;
    gap: 10px;
    position: relative;
    top: 1em;
    background-color: #222831;
}

/* styles for noninput elements of form*/
#noninput-form-elements {
    width: 60%;
}

#noninput-form-elements h2,
h4 {
    text-align: center;
}

/* styles input elements and their labels */
#input-fields {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text-field {
    margin-top: 10px;
}
/* end form styles */


/* footer */
footer {
    position: fixed;
    bottom: -1px;
    width: 100%;
    z-index: 99;
    background-color: #222831;
}

/* styles element containing social links*/
#social-networks {
    border-top: 3px solid white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* styles actual social links*/
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: white;
}

@media screen and (min-width: 360px) {
    #logo-div {
        font-size: 87%;
    }

    #logo {
        letter-spacing: 3px;
    }
}

@media screen and (min-width: 425px) {

    /* repositions botom links on landing page for larger mobile screens*/
    #hero2-column-block {
        bottom: -2.5em;
    }
}

/* tablet and larger styles */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        border-bottom: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #31363F;
        z-index: 99;
    }

    #logo {
        font-size: 3rem;
        line-height: 75px;
        margin: 0 0.5rem;
        z-index: 99;
        display: flex;
        justify-content: center;
    }

    /* navbar styles for non-mobile screens */
    nav {
        display: flex;
        position: relative;
        border: 3px solid white;
        border-radius: 10px;
        width: fit-content;
        padding: .35rem .7rem;
        background-color: #222831;
        justify-content: space-around;
    }

    #nav-menu {
        display: flex;
        z-index: 99;
    }

    #nav-menu>li {
        padding: 0rem 1rem;
        text-align: center;
        margin-top: 3.52px;
    }

    #nav-toggle-label {
        flex-direction: column;
    }

    /* removes navbar icon on larger screens */
    #icon-div {
        display: none;
    }
    /* end header styles*/


    /* main content */
    main {
        /* push main content down */
        margin-top: 161px;
        display: flex;
        justify-content: center;
    }

    /* Landing page styles*/
    #landing-page {
        width: 100%;
        margin-top: -7.6em;
    }

    /* removes mobile landing page elements */
    #hero1,
    #hero2 {
        display: none;
    }

    /* causes larger screen landing page background to appear */
    #hero3 {
        display: flex;
        height: 38em;
        flex-direction: column;
    }

    /* position adjustments for hero1 text on larger screens */
    .hero1-text {
        font-size: 140%;
        position: relative;
        align-self: center;
        top: 2em;
        padding: .5em;
    }

    /* styles the content of hero2 for larger screens*/
    #hero2-content-large-screen {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 7em;
        margin-right: 10%;
        margin-left: 10%;
        height: 23em;
    }

    .hero2-text {
        width: fit-content;
        align-self: center;
        width: 48%;
        text-align: center;
        margin-bottom: 2em;
    }

    #left-right-columns {
        display: flex;
        flex-direction: row;
        gap: 16%;
        width: 61%;
        align-self: center;
    }

    .interior-column {
        display: flex;
        flex-direction: column;
        gap: 20%;
        height: 6em;
    }
    /* end landing page styles */


    /* content page styles */
    /* lines up the top of the images in larger screens*/
    .section-content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        gap: 1rem;
    }

    /* resizes game cover image to something fixed */
    .game-cover {
        height: 12em;
        width: 12em;
    }

    /* adjusts headers for tablet screens*/
    .content-header {
        width: 94%;
    }

    /* styles external links for larger screens */
    .links {
        padding: 0.7rem 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        gap: 15px;
    }
    /* end of content page styles */


    /* form styles */
    #signup-form {
        top: -3em
    }

    /* footer */
    footer {
        display: flex;
        justify-content: center;
        background-color: #31363F;
    }

    #social-networks {
        display: flex;
        background-color: #31363F;
        margin: 0 1em 1em 1em;
        padding: 1rem;
        min-width: 50vw;
        border: 3px solid white;
        border-radius: 10px;
        justify-content: space-around;
        z-index: 99;
        background-color: #222831;
        ;
    }
}

/* adjusts for screens the size of my laptop and larger */
@media screen and (min-width: 916px) {

    /* adds hover to links on non-touch screen devices */
    #nav-menu a:hover,
    .links a:hover {
        border-bottom: 1.5px solid white;
    }

    /* adds border on hover to links on landing page for larger screens*/
    .hover-border:hover {
        border: 1.5px solid white;
        border-radius: 10px;
        margin: -1.5px;
    }

    /* adjusts content header for larger screens */
    .content-header {
        width: 96%;
    }

    /* adjusts font to larger screens */
    #landing-page {
        font-size: 120%;
    }

    /* adjusts main so it isn't covered by the header on larger screens */
    main {
        margin-top: 171px;
    }

    /* adjusts size of content on landing page for larger screens */
    #hero2-content-large-screen {
        height: 20em;
    }
}


@media screen and (min-width: 1440px) {

    /* adjusts font size on for larger screens */
    #landing-page,
    .content-header,
    .content {
        font-size: 150%;
    }
}